{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.css' %}">
    <style>
        h3{
            background-color:pink;
        }
    </style>

</head>
<body>
    <center>
        <button class="btn btn-danger btn-lg">mdb4</button>
         <h3><i>devpadikkal</i></h3>
        <marquee>welcome!</marquee></h1>
       
        <h1 class="btn btn-secondary">This is<small> Bootstrap4.6.2 </small><mark> which is</mark><u>connected</u> by<big> Download</big> <del>method</del></h1>
        
        <img src="{% static 'images/dev.webp' %}" class="card-img-top" alt="..."height=300/>
        <div class="card-body">
            <p class="card-text">devpadikkal is best Wicket keeper and Batsman.He a Great Captain</p>
          <a href="https://www.google.com/search?q=dev+padikkal+hd+images&rlz=1C1VDKB_enIN1023IN1023&oq=&aqs=chrome.1.69i57j69i59l2j0i433i512l2j69i60l3.5941j0j7&sourceid=chrome&ie=UTF-8 class="btn btn-primary">Click and See More About dev</a>
        </div>
      </div>
        <h5 class="card-title>devpadikkal</h5>
    </center>



    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/mdb.js' %}"></script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
</body>
</html>